@font-face {
    font-family: marvel;
    src: url(./font/marvel\ 2.otf);
}

@media(max-width:2560px) {}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    /* padding: 30px; */
    background-color: black;
    min-height: 100vh;
    overflow-x: hidden;
}

nav {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding-left: 20px; */
}


nav .logo {
    width: 30%;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    font-weight: bolder;
    text-align: center;
}

nav ul {
    width: 65%;
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 5px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: clamp(8px, 3vw, 20px);
    /* font-size:clamp(50px,4vw,80px); */
    text-decoration: none;
}


nav ul li a:hover {
    color: red;
}


#ham-icon {
    font-size: 28px;
    display: none;
}

nav input {
    display: none;
}

#useri {
    display: none;
}

#usern {
    display: block;
}



/* banner parallex */

.banner {
    width: 100%;
}

.banner img {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    /* pointer-events: none; */
}

.banner h1 {
    text-align: center;
    margin-top: clamp(50px, 10vw, 150px);
    font-size: clamp(50px, 10vw, 150px);
    font-family: arial;
    color: white;
}

/* banner parallex end */


/* text scroll */

.tittle {
    color: white;
    text-align: center;
    font-family: arial;
}

.tittle h1 {
    font-size: clamp(15px, 4vw, 50px);
}

/* text scroll end */
/* card */

.cards {
    width: 100%;
    height: auto;
    gap: 40px;
    display: flex;
    justify-content: center;

}

h3 {
    color: red;
    font-family: calibri;
    margin-left: 20px;
    font-size: clamp(14px, 2vw, 35px);
}

/* h3::after {
    content: "";
    width: 0px;
    transition: 0.4s;
    display: block;
}

h3:hover::after {
    width: 220px;
    border: 1px solid white;
} */

/* nav ul li a::after {
    content: "";
    width: 0px;
    transition: 0.4s;
    display: block;
}

nav ul li a:hover::after {
    width: 40px;
    border: 0.5px solid red;
} */
.card {
    margin-top: 5%;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    float: left;
    perspective: 500px;
    column-gap: 20px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    color: #03446A;
    text-align: center;
    /* font-size: 60px; */
    border-radius: 5px;
    backface-visibility: hidden;
}

.front {
    line-height: 300px;
}

.front img {
    width: 300px;
    height: 400px;
}

.back {
    color: white;
    transform: rotateY(180deg);
    background-color: rgb(254, 254, 254);
    padding: 0px 15px;
}


.back h4 {
    margin-top: clamp(20px, 5vw, 60px);
    color: black;
    font-size: clamp(14px, 2vw, 30px);
    font-weight: bold;
    font-family: calibri;
}

.back .para1 {
    font-size: 16px;
    font-weight: bold;
    color: black;
    font-family: calibri;
}

.back .para {
    color: black;
    font-size: 12px;
    margin-top: 10px;
    font-weight: normal;
    font-family: calibri;
    padding: 0px 5px;
}

.back .star .checked {
    color: orange;
    font-size: 20px;
}

.back .fa-regular {
    color: orange;
    font-size: 20px;
}

.back .para2 {
    color: black;
    font-size: 20px;
    font-family: calibri;
}

.button {
    width: 100%;
    margin-top: 20px;
    column-gap: 20px;
}

.button .btn1 {
    padding: 8px 25px;
    color: red;
    background-color: white;
    border: 2px solid red;
    font-weight: bold;
    transition: 0.5s;
}

.button .btn1:hover {
    background-color: red;
    color: white;
    border-radius: 0px 15px 0px 15px;
}

.button .btn2 {
    padding: 8px 25px;
    color: red;
    background-color: white;
    border: 2px solid red;
    font-weight: bold;
    transition: 0.5s;
}

.button .btn2:hover {
    background-color: red;
    color: white;
    border-radius: 0px 15px 0px 15px;
}

/* card end*/

/* img banner */

.bannerr {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: calibri;
    background-image: url('./img/the-marvels-3840x2160-13185-22.png');
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-top: 6%;
    background-color: rgba(0, 0, 0, 0.356);
    background-blend-mode: color;
}


.bannerr .c-text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bannerr .c-text h1 {
    font-size: clamp(25px, 6vw, 80px); 
    color: white;
}

.bannerr .c-text .c-para {
    font-size: clamp(8px, 2vw, 22px);
    color: white;
}

.bannerr .c-text a {
    padding: 10px 35px;
    color: white;
    font-size: clamp(8px, 2vw, 18px);
    border: 2px solid white;
    font-weight: bold;
    transition: 0.5s;
}

.bannerr .c-text .stream-btn:hover {
    background-color: red;
    color: white;
    border-radius: 0px 20px 0px 20px;
}

/* img banner end */

/* cardd */

.container {
    margin-top: 6%;
    max-width: 1800px;
    width: 100%;
}



.slider-wrapper {
    /* background-color: yellow; */
    padding: 10px;
    display: grid;
    justify-content: center;
    /* margin:; */
    width: 100%;
}

.slider-wrapper .image-list {
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: hidden;
    overflow: scroll;
    margin-bottom: 30px;
    scrollbar-width: none;
    grid-template-columns: repeat(9, 1fr);
    /* background-color: red; */
    padding: 10px;

}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper h1 {
    font-size: 35px;
    color: red;
    margin-bottom: 55px;
    font-family: calibri;
    /* filter: drop-shadow(0px 0px 0.5px white); */
}

.slider-wrapper .image-list .image-item {
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: 1s;
}

.slider-wrapper .image-list .image-item:hover {
    box-shadow: 0px 0px 20px rgb(236, 236, 236);
    /* margin-top: 8px; */
}

.line {

    border: 2px solid white;
    transform: rotate(45deg);
}

/* cardd end */

/* accordion  and form*/


.form-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    gap: 100px;
    /* flex-direction: row!important; */

}

.form-section .accordion {
    width: 50%;
    height: auto;
}

.form-h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    margin-top: 6%;
}


.accordionn {
    width: 50%;
    min-width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 70px;
}

.accordionn .contentbox {
    gap: 10px;
    padding-left:clamp(0px, 4vw, 20px);
    width: 700px;
    min-width: 200px!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.accordionn .contentbox .label {
    position: relative;
    padding: 10px;
    background: black;
    border: 2px solid red;
    color: white;
    cursor: pointer;
    background: red;

}

.accordionn .contentbox .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 25px;
}

.accordionn .contentbox.active .label::before {
    content: '-';
    font-size: 25px;
}

.accordionn .contentbox .content {
    position: relative;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordionn .contentbox.active .content {
    height: 65px;
    width: 680px;
    padding: 10px;
}

/* form */


.form-section .form {
    width: 50%;
    height: auto;
    position: relative;
}

.form-section .form .form-heading {
    color: white;
    font-size: 25px;
    font-family: calibri;
    text-align: center;
}

.formm {
    height: 350px;
    width: 350px;
    background-color: rgba(17, 13, 13, 0.13);
    top: 50%;
    left: 80%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(16, 10, 7, 0.6);
    padding: 50px 35px;
}

.formm * {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.formm .form-heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
    font-family: calibri;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

#mail,
#password {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

.login-btn {
    margin-top: 25px;
    width: 90%;
    background-color: #ffffff;
    color: red;
    border: 2px solid red;
    padding: 13px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    margin-left: 20px;

}

.login-btn:hover {
    color: white;
    background-color: red;
    border-radius: 0px 35px 0px 35px;
}

.social {
    margin-top: 25px;
    display: flex;
    margin-left: 20px;
}

.social div {
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: black;
    border: 0.5px solid white;
    color: #eaf0fb;
    text-align: center;
    transition: 0.5s;
}

.social div:hover {
    background-color: red;
    border-radius: 0px 20px 0px 20px;
    border: none;
}

.social .fb {
    margin-left: 25px;
}

.social i {
    margin-right: 4px;
}


/* accordion  and form end*/


/* footer */

.footer {
    margin-top: 6%;
    width: 100%;
    color: white;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
}

.footer-row .footer-col h4 {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
}

.footer-col .links {
    margin-top: 20px;
}

.footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
}

.footer-col .links li a:hover {
    color: #fff;
}

.footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
}

.footer-col form {
    display: flex;
    gap: 5px;
}

.footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 2px solid #7489C6;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
}

.footer-col input::placeholder {
    color: #ccc;
}

.footer-col form button {
    background: white;
    color: red;
    border: 2px solid red;
    outline: none;
    /* border: none; */
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.footer-col form button:hover {
    background: red;
    color: white;

}

.footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
}

.footer-col .icons i {
    color: #afb6c7;
}

.footer-col .icons i:hover {
    color: #fff;
}

#useri {
    display: none;
}

/* footerend */
@media screen and (max-width:1230px) {
    .cards {
        flex-wrap: wrap;
    }
    .form-section{
        flex-wrap: wrap;
    }
}


@media screen and (max-width:1040px) and (min-width:200px) {
    .form-section {
        /* flex-wrap: wrap; */
        flex-direction: column!important;
    }

    .form-section .accordion {
        width: 80%;
    }

    .slider-wrapper {
        margin-left: 0px;
    }

    /* nav ul li{
        font-size: clamp(12px, 4vw, 18px)!important;
    } */

}

@media (max-width:768px) {


    body {
        overflow-x: hidden;
    }

    nav .logo {
        z-index: 2;
    }

    #useri {
        display: block;
    }

    nav #ham-icon {
        display: block;
        order: 3;
        color: red;
        z-index: 2;
        margin-top: 0 !important;
    }

    .fa-user {
        display: none;
    }

    nav ul {
        width: 100%;
        position: absolute;
        background-color: rgb(20, 20, 20);
        height: 350px;
        margin: 0 !important;
        padding: 20px 0px;
        top: -150%;
        flex-direction: column;
        gap: 5px;
        transition-duration: 1s;
        z-index: 1;
        color: red;
    }

    nav ul li {
        height: 100px;
        width: 100%;
        display: grid;
        justify-content: center;
        /* row-gap: 20px; */
    }

    nav ul li a {
        row-gap: 20px;
        font-size: clamp(14px, 4vw, 20px);
    }

    #check-btn:checked~ul {
        top: 100px;
    }


    /* card */

    .cards {
        width: 100%;
        height: auto;
        gap: 40px;
        display: flex;
        justify-content: center;

    }


 
    .cards {
        width: 100%;
        height: auto;
        gap: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        margin-top: 5%;
        top: 50%;
        left: 50%;
        width: 300px;
        height: 400px;
        float: left;
        perspective: 500px;
        column-gap: 20px;
        flex-direction: column;
    }

    .content {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        transition: transform 1s;
        transform-style: preserve-3d;
    }

    .card:hover .content {
        transform: rotateY(180deg);
        transition: transform 0.5s;
    }

    .front,
    .back {
        position: absolute;
        height: 100%;
        width: 100%;
        background: white;
        color: #03446A;
        text-align: center;
        /* font-size: 60px; */
        border-radius: 5px;
        backface-visibility: hidden;
    }

    .front {
        line-height: 300px;
    }

    /* .front img {
        width: 300px;
        height: 400px;
    } */

    .back {
        color: white;
        transform: rotateY(180deg);
        background-color: rgb(254, 254, 254);
    }


    .back h4 {
        margin-top: 60px;
        color: black;
        font-size: 30px;
        font-weight: bold;
        font-family: calibri;
    }

    .back .para1 {
        font-size: 16px;
        font-weight: bold;
        color: black;
        font-family: calibri;
    }

    .back .para {
        color: black;
        font-size: 12px;
        margin-top: 10px;
        font-weight: normal;
        font-family: calibri;
        padding: 0px 5px;
    }

    .back .star .checked {
        color: orange;
        font-size: 20px;
    }

    .back .fa-regular {
        color: orange;
        font-size: 20px;
    }

    .back .para2 {
        color: black;
        font-size: 20px;
        font-family: calibri;
    }

    .button {
        width: 100%;
        margin-top: 20px;
        column-gap: 20px;
    }

    .button .btn1 {
        padding: 8px 25px;
        color: red;
        background-color: white;
        border: 2px solid red;
        font-weight: bold;
        transition: 0.5s;
    }

    .button .btn1:hover {
        background-color: red;
        color: white;
        border-radius: 0px 15px 0px 15px;
    }

    .button .btn2 {
        padding: 8px 25px;
        color: red;
        background-color: white;
        border: 2px solid red;
        font-weight: bold;
        transition: 0.5s;
    }

    .button .btn2:hover {
        background-color: red;
        color: white;
        border-radius: 0px 15px 0px 15px;
    }

    /* card end*/


    /* video */

    /* .video{
        width: 100%;
        height: 400px;
    } */

    /* videoend */
    .container {
        overflow-x: hidden;

    }

    .slider-wrapper {
        overflow-x: hidden;
    }

    /* formsection */

    .form-section {
        flex-wrap: wrap;
        display: block;
    }

    .form-section .accordion {
        width: 100%;
        height: auto;

    }

    .accordionn .contentbox {
        width: 600px;
    }

    .accordionn .contentbox.active .content {
        height: 65px;
        width: 580px;
        padding: 10px;
    }

    /* .formm {
        margin-left: 130px;
        margin-top: 40px;
    } */

    .footer {
        flex-wrap: wrap;
    }

    /* formsectionend */
}


@media (max-width:426px) {
    nav ul {
        width: 100%;
        height: 180px;
        gap: 10px;
    }



    .bannerr .c-text .stream-btn {
        padding: 5px 15px;
    }


}